<div class="metaContainer">
    <div class="styleizedHeader">
        <div class="metaTitle">
            <div class="topLabel">SELECT MENU</div>
            <div class="bottomLabel">METADEX</div>
        </div>

        <button class="closeButton">x</button>
    </div>

    <mat-tab-group class="metaTabGroup" >
        <mat-tab label="Profiles">
            <div class="profilesTab">                
                <h2>Current Profiles</h2>
                
                
            
                @for (item of metaProfiles(); track $index) {
                    <div>
                        {{item.name}}
                    </div>
                }
            </div>
        </mat-tab>
        <mat-tab label="Import">

        </mat-tab>
        <mat-tab label="Export">
            
        </mat-tab>
    </mat-tab-group>

    <div class="metaFooter">
        <button matButton="outlined" class="newProfileBtn">New Profile</button>
    </div>
</div>