<header class="main-header">
    <span class="circles">
        <span class="big-circle" [style.background]="getBlinkBG()" [style.boxShadow]="getBoxShadow()"></span>
        <div class="little-circle-box">
            <span class="little-circle" style="background: #dc2626;"></span>
            <span class="little-circle" style="background: #eab308;"></span>
            <span class="little-circle" style="background: #22c55e;"></span>
        </div>
    </span>
    <div class="BrandText">
        TEAMDEX · v2
    </div>
</header>