.roundedButton {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1.5px solid rgba(0,0,0,.7);
    box-shadow: rgba(255, 255, 255, 0.3) 0px 2px 4px inset, rgba(0, 0, 0, 0.4) 0px -2px 4px inset, rgba(0, 0, 0, 0.4) 0px 2px 4px;
    color: #fff;
    font-family: 'VT323', monospace !important;
    font-size: 21px;
    cursor: pointer;
    padding: 0px;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
}