$primary-color: #313131;
$accent-color: #0c61df;
$tertiary-color: #bbbbbb ;
$warn-color: #f81818;
$text-color: #ffffff;

.primary {
    background-color: $primary-color;
    color: $text-color
}

.accent {
    background-color: $accent-color;
    color: $text-color
}

.tertiary {
    background-color: $tertiary-color;
    color: $text-color
}

.warn {
    color: $warn-color;
}

.hover {

    &:hover {
        background-color: #757575;
    }
}

.popup {

}