<div class="DPad">
    <div  class="HorizontalArm"></div>

    <div class="VerticalArm"></div>

    <div class="centerDot"></div>

    <div (click)="onClickUp()" class="clickTarget" style="left:32px; top:0;    width: 28px; height: 32px;"></div>
    <div (click)="onClickDown()" class="clickTarget" style="left:32px; top:60px; width: 28px; height: 32px;"></div>
    <div (click)="onClickLeft()" class="clickTarget" style="left:0;    top:32px; width: 32px; height: 28px;"></div>
    <div (click)="onClickRight()" class="clickTarget" style="left:60px; top:32px; width: 32px; height: 28px;"></div>
</div>