@use '@angular/material' as mat;

$background-color: #fff;
$primary-color: #EB4444;


.main-screen {
    width: 100%;
    height: 80vh;
    background: $background-color;
    border-radius: 10px;
    box-shadow: inset black 0px 0px 10px;
}

@media screen and (max-width: 1920px) {
    .main-screen {
        width: 95%;
        height: 85vh;
        margin-left: 2.5%;
    }
    
}

