<form [formGroup]="formGroup" class="pkmn-builder-form">
    <div class="pkmn-form-header">
        <mat-form-field formControlName="teamName">
            <mat-label>Name</mat-label>
            <input matInput type="text" value="" />
        </mat-form-field>
        <mat-form-field formControlName="selectedGame">
            <mat-select placeholder="Select Game">
    
               @for (pkmn of pkmnGames(); track $index) {
                    <mat-option [value]="pkmn">{{ pkmn }}</mat-option>
               }
            </mat-select>
        </mat-form-field>

    </div>

    <div class="pkmn-team-row">
        <mat-card class="pkmn-card">
            <mat-icon fontIcon="add"></mat-icon>
        </mat-card>

        <mat-card class="pkmn-card">
            <mat-icon fontIcon="add"></mat-icon>
        </mat-card>

        <mat-card class="pkmn-card">
            <mat-icon fontIcon="add"></mat-icon>
        </mat-card>

        <mat-card class="pkmn-card">
            <mat-icon fontIcon="add"></mat-icon>
        </mat-card>

        <mat-card class="pkmn-card">
            <mat-icon fontIcon="add"></mat-icon>
        </mat-card>

        <mat-card class="pkmn-card">
            <mat-icon fontIcon="add"></mat-icon>
        </mat-card>
    </div>

    <div class="team-strengths">
        <label>Strengths: </label>
        <mat-chip-set>
            <mat-chip class="fire-type">Fire</mat-chip>
            <mat-chip class="water-type">Water</mat-chip>
            <mat-chip class="grass-type">grass</mat-chip>
            <mat-chip class="ice-type">ice</mat-chip>
            <mat-chip class="fighting-type">Fighting</mat-chip>
            <mat-chip class="poison-type">Poison</mat-chip>
            <mat-chip class="ground-type">Ground</mat-chip>
            <mat-chip class="flying-type">flying</mat-chip>
            <mat-chip class="phychic-type">phychic</mat-chip>
            <mat-chip class="bug-type">bug</mat-chip>
            <mat-chip class="rock-type">Rock</mat-chip>
            <mat-chip class="ghost-type">ghost</mat-chip>
            <mat-chip class="dragon-type">dragon</mat-chip>
            <mat-chip class="dark-type">dark</mat-chip>
            <mat-chip class="steel-type">steel</mat-chip>
            <mat-chip class="fairy-type">fairy</mat-chip>
            <mat-chip class="normal-type">normal</mat-chip>
            <mat-chip class="electric-type">Electric</mat-chip>

        </mat-chip-set>
    </div>

    <div class="team-weaknesses">
        <label>Weaknesses: </label>
        <mat-chip-set>
            <mat-chip class="ghost-type">ghost</mat-chip>
            <mat-chip class="dragon-type">dragon</mat-chip>
            <mat-chip class="dark-type">dark</mat-chip>
            <mat-chip class="steel-type">steel</mat-chip>
            <mat-chip class="fairy-type">fairy</mat-chip>
            <mat-chip class="normal-type">normal</mat-chip>
            <mat-chip class="electric-type">Electric</mat-chip>
        </mat-chip-set>
    </div>
    
    <button mat-flat-button class="submit-btn">
        Create
    </button>


</form>