/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

$primary-color: #EB4444;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    @include mat.tabs-overrides((
        active-indicator-color: $primary-color,
        active-label-text-color: $primary-color,
        active-focus-indicator-color: $primary-color,
        active-focus-label-text-color: $primary-color,
    ));

    @include mat.button-overrides((
        filled-container-color: $primary-color,
    ));
}