<mat-dialog-content class="loadingModal">
    <span>Thank you for opening the professors team tool. </span>
    <span>I don't claim to ownership of pokemon. Property of Nintendo. </span>
    <span>as well as a special thank you to the Pokéapi team for creating an awesome api. </span>
    
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button 
            color="primary" 
            (click)="dialogRef.close()"
            style="margin: auto; display: block;">
        Ok!

    </button>
</mat-dialog-actions>