<mat-dialog-content class="loadingModal">
    <span>Thank you for opening the professors team tool. </span>
    <span>I don't claim to ownership of pokemon. Property of Nintendo. </span>
    <span>as well as a huge thank you to <a href="https://github.com/phalt">Paul Hallett</a> and <a href="https://github.com/zaneadix">Zane Adickes</a> for creating the awesome Pokeapi. I dont claim ownership of their product.</span>
    
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button 
            color="primary" 
            (click)="dialogRef.close()"
            style="margin: auto; display: block;">
        Ok!

    </button>
</mat-dialog-actions>