.styleizedHeader {
    background: rgb(15, 23, 42);
    color: #fff;
    border-bottom: 2px solid rgb(220, 38, 38);
    display: flex;
    align-items: center;
    grid-area: 8px;
    padding: 8px 10px;
}

.metaTitle {
    width: 100%;
}

.topLabel {
    font-size: 8px;
    opacity: 0.7;
    font-family: monospace;
    font-weight: 700;
}

.bottomLabel {
    font-size: 13px;
    font-weight: 800;
}

.closeButton {  
    background: rgba(255, 255, 255, 0.15);
    border: medium;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
}

.createMetaContainer {
    
}